#treemap-container{
    width: 700px;
    margin-left: 300px;
    margin-bottom: 100px;
    
}

.contenedor-imagenf {
    width: 400px; /* Establece el ancho deseado para el contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
    margin-left: 700px; /* Centra el contenido (en este caso, la imagen) horizontalmente en el contenedor */
  }
  
  .contenedor-imagenf img {
    max-width: 100%; /* Ajusta el ancho de la imagen para que no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chartoId{
    height: 150px;
}

div.sub_con_fondo_verde {
    background-color: green;
    color: white;
    padding: 10px;
}

div.con_fondo_rojo {
    background-color: #ffffff;
    /* Puedes ajustar otros estilos, como el color del texto o el tamaño */
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    top: 50px;
    
}
/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}

.content {
    padding: 20px;
}

/* Cambia los colores, fuentes y estilos según tus preferencias */
/*Menu despegable */
#menuInicio {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0,2);
    z-index: 1;
}
#menuInicio a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #000000;
}
#menuInicio a:hover {
    background-color: #ddd;
}
/* Estilos para la barra de navegación */
.navbar ul li {
    display: inline;
    margin-right: 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
}
.barra-inicio {
    background-color: #153f1c;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    margin-bottom: 50px;
}

.barra-inicio h1 {
    margin: 0;
    font-size: 30px; /* Ajusta el tamaño de fuente según tus preferencias */
}

.barra-inicio p {
    margin: 0;
    font-size: 20px; /* Ajusta el tamaño de fuente según tus preferencias */
}

.barra-inicio .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 45px;
}

.barra-inicio .logo h1 {
    font-weight: bold; /* Añade negrita según tus preferencias */
}

.navbar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-weight: bold; /* Añade negrita según tus preferencias */
}

/* Ajusta el margen superior del contenido principal para evitar superposición */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 80px; /* Puedes ajustar este valor según tu preferencia */
}

.background-section {
    background-image: url('pexels-tom-fisk-2606532.jpg'); /* Reemplaza 'tu-imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    text-align: center; /* Alinea el contenido al centro de la sección */
    color: rgb(255, 255, 255);
    padding: 130px; /* Agrega un poco de espacio alrededor del contenido */
  }

  .photo {
    position: absolute;
    top: 700px; /* Ajusta la posición superior según tus necesidades */
    left: 940px; /* Ajusta la posición izquierda según tus necesidades */
    width: 300px;
    z-index: 1; /* Asegura que la imagen esté por encima del gráfico */
}

.leyenda{
    top: 100px;
    text-align: left;
    margin-left: 10px;
}

.background-section2 {
    background-image: url('pexels-juan-j-moralestrejo-9252093.jpg'); /* Reemplaza 'tu-imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(14, 40, 26);
    color: #ffffff;
    text-align: center; /* Alinea el contenido al centro de la sección */
    color: rgb(255, 255, 255);
    padding: 130px; /* Agrega un poco de espacio alrededor del contenido */
  }

  .background-section3 {
    background-image: url('As\ Trump\ prepares\ for\ office\,\ concerns\ about\ Chinese\ trade\ intensify.jpg'); /* Reemplaza 'tu-imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(14, 40, 26);
    color: #ffffff;
    text-align: center; /* Alinea el contenido al centro de la sección */
    color: rgb(255, 255, 255);
    padding: 130px; /* Agrega un poco de espacio alrededor del contenido */
  }

  .final {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    color: #000;
    
  }
