#informacion {
    white-space: pre-line;
}
.contenedor-imagenes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alimento {
    text-align: center;
    flex: 1; /* Esto permite que cada alimento ocupe el mismo espacio */
    margin: 10px;
}

.alimento img {
    width: 100%; /* El ancho ocupa el 100% del espacio disponible en cada contenedor alimento */
    max-height: 150px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.nombre-imagen {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    font-size: 16px;
    white-space: nowrap;
}
